<ion-header>
  <ion-toolbar>
    <ion-title>Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
   
  
    <ion-item>
      <ion-label>Mis Designaciones</ion-label>
      <ion-select placeholder="Seleccione Una" >
        <ion-select-option value="f">Ruta 1</ion-select-option >
        <ion-select-option value="m">Ruta 2</ion-select-option>
      </ion-select>
    </ion-item>
  
    <!-- <app-google-maps apiKey="YOUR_GOOGLE_API_KEY"></app-google-maps> -->
    <!-- <app-google-maps apiKey="YOUR_GOOGLE_API_KEY"></app-google-maps> -->
    <!-- <app-google-maps apiKey="AIzaSyD0-E85MYatjF8nVIGVOh1l4floOTLMmG0">

    </app-google-maps> -->



  
  </ion-list>


  <div #map id="map">

  </div>

</ion-content>

 